[Unit]
Description=NK-37

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/revmin/
ExecStart=/home/revad/env/bin/python /home/revad/ricochet-chat-bot-back/tg_interface.py
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target